// Variables Partial



// Typography


// Colors
$vivid-violet: #7e4296;
$light-sea-green: #2db3af;
$deep-carmine-pink: #eb3232;
$sunset-orange: #f64938;
$sail: #a2d1e7;
$fair-pink: #ffeeed;
$americano: #80766e;
$red-orange: #f5403a;
$black: #000000;
$catskill-white: #f0f3fa;
$white: #ffffff;
